:root {
    --black:#232536;
    --white:#fff;
    --yellow:#FFD050;
    --purple:#592EA9;
    --text-color:rgba(89, 46, 169, 1);
    --grey:#4C4C4C;
    --medium-grey:#6D6E76;
    --medium-grey-icon:rgba(109, 110, 118, 1);
    --btn-after: #EDC14A;
    --box-color:rgba(242, 86, 86, 0.1);
    --light-grey: #F4F4F4;
    --author-hover:#fbf6ea;
    --footer-inner: rgba(76, 76, 76, 0.4);
    --color-black:rgb(0, 0, 0)0F8;
    --background-for-hero: rgba(244, 240, 248, 1);
    --blog-post:#494A53;
    --background: rgba(22, 23, 34, 1);
   
   



}